.tw-followCard{
  display: flex;
  align-items: center;
  color: #300303;
  font-size: .8rem;
}

.tw-followCard-header{
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info{
  flex-direction: column;
  display: flex;
}

.tw-followCard-infoUserName{
  opacity: .6;
}

.tw-followCar-avatar{
  width: 48PX;
  height: 48PX;
  border-radius: 1000PX;
}

.tw-followCard-button{
  margin-left: 16PX;
  border: 0;
  border-radius: 999PX;
  padding: 6PX 16PX;
  font-weight: bold;
  border: 1px solid yellow;
  transition: .3s ease background-color;
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-button :hover{
  opacity: .8 ;
  background-color: rgb(72, 255, 0);
  transition: .3s ease background-color;
}
.tw-followCard-button.is-following{
   border: 1px solid rgb(212, 208, 228);
   background: transparent;
   color: #fff ;
   width: 120px;

}
.tw-followCard-button.is-following :hover{
  border: 1px solid red;
  background-color: rgb(219, 26, 42);
  transition: .3s ease all;
}

.tw-followCard-button.is-following :hover .tw-followCard-text{
  display: none;
}
.tw-followCard-button.is-following :hover .tw-followCard-stopFollow{
  display: block;
}

.tw-followCard-stopFollow{
  display: none;

}